#gameDiv canvas{
  margin:0px auto;
  border:2px solid black;
}

body{
  text-align: center;
}

a:-webkit-any-link{
  text-color: black;
  font-weight: normal;
}

a:-webkit-any-link:hover{
  text-color: gray;
  font-weight: bold;
}

a{
  text-decoration: none;
}
